body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid {
    --cols: 4;
    display: flex;
    width: fit-content;
    flex-direction: column;
}
.row {
    display: flex;
}

.cell {
    display: flex;
    flex: 0 0 calc(100% / var(--cols));
    border: 1px solid black;
    aspect-ratio: 1;
    box-sizing: border-box;
}
